<a href="https://colab.research.google.com/github/Shanmuganathan2004/My-new-journey-to-2025/blob/main/First_Code_Vivian_aranha_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world!")

Hello world!

In [4]:
Name = "Shanmuga" #string
Age  =  39 #Integer
height =  5.8 #Float
is_handsome =  True #Boolean
print(Name)
print(Age)
print(height)
print(is_handsome)

Shanmuga
39
5.8
True

In [9]:
userName = input("What's your name?")
print("My Name is:",userName)

What's your name?Shanmuganathan
My Name is: Shanmuganathan

In [11]:
x = 3
y = 10

print(x + y)
print(x - y)
print(x * y)
print(y / x)
print(y % x)
print(y ** x)

13
-7
30
3.3333333333333335
1
1000

In [12]:
#Functions

def say_myname():
  print("My name is Shanmuga")

say_myname()

My name is Shanmuga

In [15]:
def do_addition(a,b):
  return a + b

print("Result:",do_addition(10,30))

Result: 40