<a href="https://colab.research.google.com/github/Shanmuganathan2004/My-new-journey-to-2025/blob/main/First_Code_Vivian_aranha_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world!")

Hello world!

In [4]:
Name = "Shanmuga" #string
Age  =  39 #Integer
height =  5.8 #Float
is_handsome =  True #Boolean
print(Name)
print(Age)
print(height)
print(is_handsome)

Shanmuga
39
5.8
True

In [9]:
userName = input("What's your name?")
print("My Name is:",userName)

What's your name?Shanmuganathan
My Name is: Shanmuganathan

In [10]:
x = 3
y = 10

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)

13
-7
30
0.3
3
59049