In [ ]:
list1=[1,2,3,4,5,6]
list2=['hi','this','is','me']
%whos

Variable   Type    Data/Info
----------------------------
list1      list    n=6
list2      list    n=4

In [ ]:
list3=[[1,2,3],2,3]
%whos

Variable   Type    Data/Info
----------------------------
list1      list    n=6
list2      list    n=4
list3      list    n=3

In [ ]:
list4=[1,2,3,4,5]
#Booleans means TRUE or FALSE in a statement
4 in list4

True

In [ ]:
4 not in list4

False

In [ ]:
4 == 4 and 7>10

False

In [ ]:
# bool(0) is false
# bool(1) other ten 0 all numbers are true

True

In [ ]:
# Excercise-1 of booleans ,pythogorean triplets

#input the three lengths

side_a=float(input("Enter the length of side a:"))
side_b=float(input("Enter the length of side b:"))
side_c=float(input("Enter the length of side c:"))

#check for accuracy
pytriplet=side_a**2 + side_b**2 == side_c**2

#Print th result
print('Your answer is ' + str(pytriplet) +'!!')

Enter the length of side a:3
Enter the length of side b:4
Enter the length of side c:5
Your answer is True!!

In [ ]:
# Tuples

tuple_1=(3,'4',3)#immutable but you can change the entire thing again to
# to orrect it
list_1=[3,'4',3]#mutable
print(tuple_1)
print(list_1)
list_1[0]=5
tuple_1[0]=5
print(tuple_1)
print(list_1)

(3, '4', 3)
[3, '4', 3]

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple_1=(5,'4',3)
print(tuple_1)
print(type(list(tuple_1)))

(5, '4', 3)
<class 'list'>

In [ ]:
print(type(tuple_1))
v = list(tuple_1)
print(v)
v[0] = 2345679
print(v)

<class 'tuple'>
[5, '4', 3]
[2345679, '4', 3]

In [ ]:
# Dictionaries in python are stored in {}

D = dict()
D

{}

In [ ]:
#Key/Value pair
D['name'] = 'nathan'
D['AgeRange'] = [20,50]
print(D)

{'name': 'nathan', 'AgeRange': [20, 50]}

In [ ]:
E = {'name':'nathan','AgeRange':[20,50]}
E

{'name': 'nathan', 'AgeRange': [20, 50]}

In [ ]:
#Method-1 to retrieve info from dictionary is type the key with variable
D['name']

dict_keys(['name', 'AgeRange'])

In [ ]:
#Method-2 to retrieve info from dictionary is .keys() function
D.keys()

In [ ]:
#Method -3 to retrieve info from dict is .values() function
D.values()

dict_values(['nathan', [20, 50]])

In [ ]:
#Method-4 to retrieve info from dict is .items() function
D.items()

dict_items([('name', 'nathan'), ('AgeRange', [20, 50])])

In [ ]:
# Method-1 to check whether the key is in the dictionary
#by boolean is type the key and
#type in and type the variabve it hold

'name' in D

False

In [ ]:
# Excercise-1 for dictionary

#Input two numbers from the user.
#Create a dictionary with keys 'firstNum','secondNum','Product'
a = int(input('Enter the first number:'))
b = int(input('Enter the second number:'))
data = dict()
data['firstNum'] = a
data['secondNum'] = b
data['Product'] = a*b
data.items()

Enter the first number:1
Enter the second number:3

dict_items([('firstNum', 1), ('secondNum', 3), ('Product', 3)])